<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="15000" />
    <add key="VoteDbProvider" value="MySql" />

    <add key="CnVote.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=vote" />
    <add key="CnVoteCache.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votecache" />
    <add key="CnVoteLog.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votelog" />
    <add key="CnVoteZipNew.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votezipnew" />

    <!--  These 4 entries should be commented unless testing against the live DB  -->
    <!--
    <add key="CnVote.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=vote" />
    <add key="CnVoteCache.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votecache" />
    <add key="CnVoteLog.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votelog" />
    <add key="CnVoteZipNew.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votezipnew" />
    -->

    <!--  These 4 entries only apply to testing with the upsized 11/2020 database  -->
    <!--
    <add key="CnVote.MySql" value="Server=votesqlxl2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=vote" />
    <add key="CnVoteCache.MySql" value="Server=votesqlxl2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votecache" />
    <add key="CnVoteLog.MySql" value="Server=votesqlxl2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votelog" />
    <add key="CnVoteZipNew.MySql" value="votesqlxl2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votezipnew" />
    -->

    <add key="CnVoteCacheLocal.MySql" value="Server=localhost;Uid=root;Pwd=p17134;Database=votecache" />
    <add key="CnVoteImagesLocal.MySql" value="Server=localhost;Uid=root;Pwd=p17134;Database=voteimageslocal" />
    <add key="VoteUseLiveDomains" value="true" />
    <add key="VoteYouTubeApiKey" value="AIzaSyBSJeY9MAMhf8AdUjzFl1apWzWshauqQFs" />
    <add key="VoteFacebookAccessToken" value="1570309133273136|bf7d549a7a4bef673de612bcbc99e219" />
    <add key="AdminHostAndPort" value="admin.vote-usa.org" />
    <add key="ShapeFileDirectory" value="D:\Shapefiles" />
    <add key="ForceSsl" value="true" />
    <add key="IsStaging" value="false" />
    <add key="IsLive" value="true" />
    <add key="AllowFacebookVideos" value="false" />
    <add key="EnableIssueGroups" value="false" />
    <add key="ShowPresidentialComparisons" value="false" />
    <add key="ShowIssues" value="true" />
    <add key="SmtpClientSettings" value="email-smtp.us-east-1.amazonaws.com:587:AKIAIMEWL6HLAURPN7VA@AjkOxhH2X/t3ydZE1FHRef4NChLC9fdoQJeM9XeQh2Vb"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <!-- the following enables validateRequest="false" in 4.0 -->
    <httpRuntime requestValidationMode="2.0" executionTimeout="200" maxRequestLength="204800" />
    <sessionState sessionIDManagerType="BotDetect.Web.CustomSessionIdManager,BotDetect" timeout="40" mode="StateServer"
      stateConnectionString="tcpip=172.30.3.54:42424" cookieless="false" />
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation targetFramework="4.7" />
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="404.aspx" />
      <error statusCode="500" redirect="500.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="/Signin.aspx" protection="All" timeout="30" defaultUrl="/SigninRedirect.aspx" />
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <machineKey validationKey="E85218964F7B8A16732CF3F5AFB9B802EB9CA0237B123EA7D233C252F64FA0DD5CBF8F614088B0794740C2CACAAC9DF0C2884CD3AB1D40A77343F7B43F6838A0"
      decryptionKey="83D6BED21D785FC5E236B65068AAC67836FEE1DC9F44AB3E" validation="SHA1"/>
  </system.web>
  <system.webServer>
    <!-- 
      Following is to allow the system.web/httpHandlers to remain in this file
    -->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=11" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="20000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Admin">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://admin.vote-usa.org/admin"/>
    </system.webServer>
  </location>
  <location path="Master">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://admin.vote-usa.org/master"/>
    </system.webServer>
  </location>
  <location path="Party">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://admin.vote-usa.org/party"/>
    </system.webServer>
  </location>
  <location path="Politician">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://admin.vote-usa.org/politician"/>
    </system.webServer>
  </location>
</configuration>