<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location xdt:Transform="Insert" path="Admin">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://admin.vote-usa.org/admin" />
    </system.webServer>
  </location>
  <location xdt:Transform="Insert" path="Master">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://admin.vote-usa.org/master" />
    </system.webServer>
  </location>
  <location xdt:Transform="Insert" path="Party">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://admin.vote-usa.org/party" />
    </system.webServer>
  </location>
  <location xdt:Transform="Insert" path="Politician">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://admin.vote-usa.org/politician" />
    </system.webServer>
  </location>
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVote.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=vote"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteCache.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votecache"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteLog.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votelog"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteZipNew.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votezipnew"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteCacheLocal.MySql" value="Server=localhost;Uid=root;Pwd=p17134;Database=votecache"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteImagesLocal.MySql" value="Server=localhost;Uid=root;Pwd=p17134;Database=voteimageslocal"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ShapeFileDirectory" value="D:\Shapefiles"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AdminHostAndPort" value="admin.vote-usa.org"/>
    <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="CnVote.MySql.Live"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="VoteUseLiveDomains" value="true"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ForceSsl" value="true"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AllowFacebookVideos" value="false"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="IsStaging" value="true"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="EnableIssueGroups" value="false"/>
    <add xdt:Transform="Insert" key="SmtpClientSettings" value="email-smtp.us-east-1.amazonaws.com:587:AKIAIMEWL6HLAURPN7VA@AjkOxhH2X/t3ydZE1FHRef4NChLC9fdoQJeM9XeQh2Vb"/>
  </appSettings>
  <system.web>
    <customErrors xdt:Transform="SetAttributes" mode="Off"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey xdt:Transform="Insert" validationKey='E85218964F7B8A16732CF3F5AFB9B802EB9CA0237B123EA7D233C252F64FA0DD5CBF8F614088B0794740C2CACAAC9DF0C2884CD3AB1D40A77343F7B43F6838A0'
     decryptionKey='83D6BED21D785FC5E236B65068AAC67836FEE1DC9F44AB3E'   validation='SHA1'/>
    <sessionState xdt:Transform="SetAttributes"
     mode="StateServer"
     stateConnectionString="tcpip=172.30.3.54:42424"
     cookieless="false" />
  </system.web>
</configuration>