<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVote.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=vote"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteCache.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votecache"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteLog.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votelog"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteZipNew.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votezipnew"/>

    <!--  These 4 entries only apply to running with an upsized database  -->
    <!--
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVote.MySql" value="Server=votesqlxl2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=vote"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteCache.MySql" value="Server=votesqlxl2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votecache"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteLog.MySql" value="Server=votesqlxl2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votelog"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteZipNew.MySql" value="Server=votesqlxl2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votezipnew"/>
    -->

    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ShapeFileDirectory" value="C:\Shapefiles"/>
    <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="CnVote.MySql.Live"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="VoteUseLiveDomains" value="true"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="VoteWebProxyUrl" value="http://54.172.106.4:7734/"/>
    <add xdt:Transform="Insert" key="SmtpClientSettings" value="email-smtp.us-east-1.amazonaws.com:587:AKIAIMEWL6HLAURPN7VA@AjkOxhH2X/t3ydZE1FHRef4NChLC9fdoQJeM9XeQh2Vb"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AllowFacebookVideos" value="false"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="Redirect to http" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" negate="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>