<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="15000" />
    <add key="IsIsolated" value="true" />
    <add key="VoteDbProvider" value="MySql" />

    <add key="CnVote.MySql" value="Server=votetestdb2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134RAK;Database=vote" />
    <add key="CnVoteCache.MySql" value="Server=votetestdb2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134RAK;Database=votecache" />
    <add key="CnVoteLog.MySql" value="Server=votetestdb2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134RAK;Database=votelog" />
    <add key="CnVoteZipNew.MySql" value="Server=votetestdb2.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134RAK;Database=votezipnew" />

    <!--  These 4 entries should be commented unless testing against the live DB  -->
    <!--
    <add key="CnVote.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=vote" />
    <add key="CnVoteCache.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votecache" />
    <add key="CnVoteLog.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votelog" />
    <add key="CnVoteZipNew.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votezipnew" />
    -->

    <add key="CnVote.MySql.Live" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=vote" />
    <add key="VoteUseLiveDomains" value="false" />
    <add key="VoteYouTubeApiKey" value="AIzaSyBSJeY9MAMhf8AdUjzFl1apWzWshauqQFs" />
    <add key="VoteFacebookAccessToken" value="1570309133273136|bf7d549a7a4bef673de612bcbc99e219" />
    <add key="VoteWebProxyUrl" value="http://localhost:7734/" />
    <add key="ShapeFileDirectory" value="D:\Users\Curt\Dropbox\Documents\Vote\Tiger\2017" />
    <add key="AllowFacebookVideos" value="false" />
  </appSettings>
  <location path="Master">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Politician">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Party">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--ADDED  executionTimeout="3000" -->
    <!-- the following enables validateRequest="false" in 4.0 -->
    <httpRuntime requestValidationMode="2.0" executionTimeout="200" maxRequestLength="204800" />
    <!--ADDED timeout="20000" -->
    <!--
    <httpModules>
      <add type="Vote.PreInitSessionStateModule,Vote" name="PreInitSessionStateModule"/>
    </httpModules>
    -->
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.7" />
    <customErrors mode="RemoteOnly" />
    <authentication mode="Forms">
      <forms loginUrl="/Signin.aspx" protection="All" timeout="30" defaultUrl="/SigninRedirect.aspx" />
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
  <rewrite>
	  <rules>
		  <rule name="Redirect to http" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
			  <match url="*" negate="false" />
			  <conditions logicalGrouping="MatchAny">
				  <add input="{HTTPS}" pattern="off" />
			  </conditions>
			  <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Found" />
		  </rule>
	  </rules>
  </rewrite>   
    <!-- 
      Following is to allow the system.web/httpHandlers to remain in this file
    -->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=11" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="100000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>