#mainNavigation
{
  width: 100%;
  overflow: auto; /* to clear floats */
}
#mainNavigation ul.cssmenu
{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#mainNavigation ul.cssmenu li
{
  float: left;
}
#mainNavigation ul.cssmenu li a
{
  display: block;
  height: 32px;
  background: url(/images/homemenubar.png);
  overflow: hidden;
	text-indent: -10000px;
	font-size: 0px;
	line-height: 0px;
}
#mainNavigation ul.cssmenu li.home a
{
  width: 68px;
  background-position: 0px 0px;
}
#mainNavigation ul.cssmenu li.home a:hover
{
  background-position: 0px -32px;
}
#mainNavigation ul.cssmenu li.forVoters a
{
  width: 91px;
  background-position: -68px 0px;
}
#mainNavigation ul.cssmenu li.forVoters a:hover
{
  background-position: -68px -32px;
}
#mainNavigation ul.cssmenu li.forCandidates a
{
  width: 115px;
  background-position: -159px 0px;
}
#mainNavigation ul.cssmenu li.forCandidates a:hover
{
  background-position: -159px -32px;
}
#mainNavigation ul.cssmenu li.forStateElectionAuthorities a
{
  width: 193px;
  background-position: -274px 0px;
}
#mainNavigation ul.cssmenu li.forStateElectionAuthorities a:hover
{
  background-position: -274px -32px;
}
#mainNavigation ul.cssmenu li.forVolunteers a
{
  width: 114px;
  background-position: -467px 0px;
}
#mainNavigation ul.cssmenu li.forVolunteers a:hover
{
  background-position: -467px -32px;
}
#mainNavigation ul.cssmenu li.forPartners a
{
  width: 97px;
  background-position: -581px 0px;
}
#mainNavigation ul.cssmenu li.forPartners a:hover
{
  background-position: -581px -32px;
}
#mainNavigation ul.cssmenu li.forEducationAndResearch a
{
  width: 182px;
  background-position: -678px 0px;
}
#mainNavigation ul.cssmenu li.forEducationAndResearch a:hover
{
  background-position: -678px -32px;
}
#mainNavigation ul.cssmenu li.donate a
{
  width: 80px;
  background-position: -860px 0px;
}
#mainNavigation ul.cssmenu li.donate a:hover
{
  background-position: -860px -32px;
}
