<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
</startup>
  <appSettings>
    <add key="CnVoteCacheLocal.MySql" value="Server=localhost;Uid=root;Pwd=v0+3u$@;Database=votecache" />
    <add key="CnVoteImagesLocal.MySql" value="Server=localhost;Uid=root;Pwd=v0+3u$@;Database=voteimageslocal" />
  </appSettings>
</configuration>
