<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
</startup>
  <appSettings>
    <add key="VoteDbProvider" value="MySql"/>
    <add key="CnVoteLog.MySql" value="Server=votesql.c3fj3t5d5d77.us-east-1.rds.amazonaws.com;Uid=ron;Pwd=p17134;Database=votelog"/>
    <add key="SmtpClientSettings" value="email-smtp.us-east-1.amazonaws.com:587:AKIAIMEWL6HLAURPN7VA@AjkOxhH2X/t3ydZE1FHRef4NChLC9fdoQJeM9XeQh2Vb"/>
  </appSettings>
</configuration>
