<?xml version="1.0"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteCacheLocal.MySql" value="Server=localhost;Uid=root;Pwd=p17134;Database=votecache"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CnVoteImagesLocal.MySql" value="Server=localhost;Uid=root;Pwd=p17134;Database=voteimageslocal"/>
  </appSettings>
</configuration>